@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
  
  background: #806e82;
}


h1 {
  text-align:center;
  color: rgb(8, 6, 6);
  box-shadow: 0px 0px 0px 0px;
  font-size: 3.4rem;
  display: grid;
}

input {
  width: 90%;
  justify-content: stretch;
  padding: 8px 16px;
  margin-bottom: 32px;
  
  border-radius: 16px;
  border: 1px solid #ccc;
  
  outline: none;
  
  font-size: 1.6rem;
  font-weight:300;
}

ul {
  background: white;
  color: #a23e3e;
  box-shadow: 0px 4px 8px -2px #00000033;
  border-radius: 6px;
  border: 1px solid #ddd;
  padding: 1px;
  border: #000;
}

li {
  list-style: none;
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  border: 100px #000;
  border-top: 20px;
  
}

u{
  color: #000;
  font-size: medium;
}

a {
  display: block;
  
  color: #333;
  text-decoration: none;  
  
  padding: 16px 0;
  font-size: 1.8rem;
  
}

a:hover {
  font-weight: bold;
}

li:first-child,
li:last-child {
  border: none;
}

li span {
  cursor:pointer;
}



/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  float: right;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 0%;
  right: 80px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

footer{
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 32px;
  border-radius: 16px;
  border: 1px solid #f5f0f3;
  outline: none;
  font-size: 1.6rem;
  font-weight:300;
  background-color: #fff;
}

.container{
  display:flex;
  align-items:center;
  grid-template-areas: "header header";
  margin-bottom: 20px;
}

.container2{
align-items: stretch;
display: contents;
}

.container3{
  margin-left: 29%;
}


.header{
  grid-area: header;
}

